:root {
  --color-accent: #fdb344;
  --color-secondary: #62a964;
  --text-primary: #1f2937;
  --bd-grey: #f2f2f2;
  --bd-grey2: #1f29371a;

  --border-radius: 0.6em;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #fff, #a5a5a5, #fff);
}

.t-accent {
  color: var(--color-accent);
}

.t-large {
  font-size: larger;
}

.t-center {
  text-align: center;
}

.tag {
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  border-radius: 2em;
  font-size: small;
  padding: 0.3em 1em;
  text-decoration: none;

  &:hover {
    color: white;
    background-color: var(--color-secondary);
  }
}

.only-mobile {
  display: none;
}

.only-desktop {
  display: block;
}

/* Mobile styles */
@media screen and (max-width: 960px) {
  .only-mobile {
    display: block;
  }

  .only-desktop {
    display: none;
  }
}

/* Print styles */
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
