.layout {
  min-height: 100svh;
  display: grid;
  grid-template-columns: 20em 1fr;
  grid-template-areas: "aside main";
  gap: 3em;
}

.main {
  grid-area: main;
  color: var(--text-primary);
  width: 100%;
  max-width: 900px;
  padding: 4em 3em 4em 0;
  margin: 0 auto;

  & > footer {
    margin: 2em 0;
  }
}

/* Mobile styles */
@media screen and (max-width: 960px) {
  .layout {
    display: block;

    & > aside {
      width: 100vw;
      height: auto;
      padding: 1em 0;
      font-size: small;

      nav ul {
        flex-direction: row;
        gap: 0.5em;
        justify-content: center;
      }

      & > footer {
        display: none;
      }
    }

    & > main {
      text-align: center;
      width: calc(100vw - 2em);
      padding: 1em;
      margin: 0;
    }
  }
}
