.card {
  background-color: var(--bd-grey2);
  padding: 1.5em;
  border-radius: var(--border-radius);
  margin-bottom: 2em;
  font-size: smaller;

  & .meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;

    & span {
      display: flex;
      align-items: center;
      gap: 0.3em;
    }
  }

  & .tags {
    display: flex;

    gap: 0.3em;
  }

  & a {
    text-decoration: none;
    color: var(--text-primary);
  }
}

@media screen and (max-width: 960px) {
  .card {
    font-size: small;

    & .tags {
      font-size: larger;
      justify-content: center;
      flex-wrap: wrap;
    }

    & .meta {
      font-size: smaller;
      justify-content: center;
    }
  }
}
