.message {
  padding: 1px 2em;
  border-radius: 2em;
  line-height: 1.75;
}

.message.user {
  background-color: var(--bd-grey2);
  width: fit-content;
  margin-left: auto;
}

.message.assistant {
  text-align: left;
  width: fit-content;
  margin-right: auto;
}

.message p {
  margin: 0.3em 0;
}

.copyButton {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 0.2em;
  color: #2f2f2f;
}
