.article {
  line-height: 1.5;

  & header {
    margin-bottom: 2em;

    & h1 {
      font-size: xx-large;
      margin: 0;
    }

    & .meta {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1em;

      & span {
        display: flex;
        align-items: center;
        gap: 0.3em;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .article {
    text-align: initial;
    width: calc(100vw - 2em);

    & header {
      text-align: center;
    }

    & .meta {
      flex-direction: column;

      & > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: small;
        gap: 1em;
      }
    }
  }
}
